<div class="form-wrapper">

  <form novalidate [formGroup]="addNewBookForm"
                   (ngSubmit)="sendData()">

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" name="author" formControlName="author">
        <div class="feedback" *ngIf="author.errors && (author.dirty || author.touched)">
          <p *ngIf="author.errors.required">This shiled is required</p>
        </div>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" name="title" formControlName="title">
        <div class="feedback" *ngIf="title.errors && (title.dirty || title.touched)">
          <p *ngIf="title.errors.required">This shiled is required</p>
        </div>
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" name="isbn" formControlName="isbn">
        <div class="feedback" *ngIf="isbn.errors && (isbn.dirty || isbn.touched)">
          <p *ngIf="isbn.errors.required">This shiled is required</p>
        </div>
    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input class="form-control" name="pages" formControlName="pages">
        <div class="feedback" *ngIf="pages.errors && (pages.dirty || pages.touched)">
          <p *ngIf="pages.errors.required">This shiled is required</p>
        </div>
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" name="format" formControlName="format">
        <option *ngFor="let format of formats" [ngValue]="format.name">{{format.name}}</option>
      </select>
        <div class="feedback" *ngIf="format.errors && (format.dirty || format.touched)">
          <p *ngIf="format.errors.required">This shiled is required</p>
        </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" rows="3" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" name="price" formControlName="price">
        <div class="feedback" *ngIf="price.errors && (price.dirty || price.touched)">
          <p *ngIf="price.errors.required">This shiled is required</p>
        </div>
    </div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" name="country" formControlName="country">
        <option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" name="city" formControlName="city">
        <option *ngFor="let city of cities" [ngValue]="city.name">{{city.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" name="company" formControlName="company">
        <option *ngFor="let company of companies" [ngValue]="company.name">{{company.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>

  </form>

</div>
