<div class="full-width-container">

  <div class="row">

    <div class="col-xs-4">
      <form novalidate [formGroup]="searchForm">

        <h3 class="mb-4">Search</h3>

        <div class="form-group ">
          <label for="author">Author/Title/Isbn</label>
          <div>
            <input class="form-control" name="author" formControlName="multiType">
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="full-width-container">
    <div class="row">
      <div class="card col-md-6 col-lg-6 col-sm-6 col-xs-6" *ngFor="let result of results | async">
        <div class="card-body">
          <h5 class="title">{{result.title}}</h5>
          <h6 class="author">{{result.author}}</h6>
          <p class="card-text">{{result.description}}</p>
          <span>{{result.price}} $</span>
          <span>pages: {{result.pages}}</span>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">City_Id: {{result.cityId}}</li>
            <li class="list-group-item">Company_Id: {{result.companyId}}</li>
            <li class="list-group-item">Country_Id: {{result.countryId}}</li>
            <li class="list-group-item">Format_Id: {{result.formatId}}</li>
            <li class="list-group-item">Book_Id: {{result.id}}</li>
            <li class="list-group-item">Isbn: {{result.isbn}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
